.pt-10vh{
	padding-top: 10vh !important;
}

.img-thumbnail-profile{
	height: 180px;
	width: 180px;
}

.pagination > li.active > a{
	background-color: $default-color !important;
}

.navbar{
	background:#fff;
	border-bottom: 1px solid #ddd;

	.dropdown-toggle i{
		color:#888;
	}
}