.box{
	margin:20px 0;
	border:1px solid #000;
	padding:20px;
	background:#fff;

	h2{
		background:#fff;
		width: max-content;
	
		@media(min-width: 1200px) {
			padding: 10px 30px;
			margin-top: -50px;
		}
	}

	table{
		border-collapse: separate;
		margin-top: 20px;

		td:first-child{
			font-weight:bold;
		}

		@media(max-width: 768px) {
			tr,td{
				display:block;
			}
		}
	}

	.table-striped{
		border-collapse:collapse;
		width: 80%;

		td{
			// border-bottom:1px solid #dedede;
			padding: 10px;

			i{
				color:$brand-color;
				padding-right:10px;
			}
		}
	}

	.border-box{
		display:flex;
		justify-content: center;
	}

	#piechart{
		width: 170px;
		height: 170px;

		@media(min-width: 768px) {
			width: 250px;
			height: 250px;
		}

		rect{
			fill:transparent;
		}

		text{
			font-size:12px;
		}
	}
}