.payment-gateway{
	img{
		width:100%;
	}
}

.card-payment{

	@media (min-width: 1500px){
		.payment-plan{
			display:flex;
		}	
	}
	

	select:focus{
		box-shadow: 0 0 0 0.2rem rgba($brand-color, 0.25);
	}
	.form-check{
		padding:0;	
		input{
			visibility:hidden;
			width:100%;
		}
	}

	.form-group>label{
		font-weight: bold;	
	}

	input[type=radio] ~ label{
		margin: 10px 0;
	    border-radius: 0.25rem;
	    border: 1px solid #ced4da;
	    padding: 10px;
	    text-align: center;
	    width:100%;

	    &.active, &:hover{
			background:$brand-color;
			color:#fff;
			cursor:pointer;
		}

	}

	input[type=radio]:checked ~ label{
		background:$brand-color;
		color:#fff;
	}

}

